@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}
@mixin btn-variant($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  border-radius: 20px;
  border: 1px $primary-color solid;
  width: 80px;
  height: 30px;
}
